<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="br.com.faru.a99challenge">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.ChallengeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".presentation.person.PersonsActivity"
            android:label="Persons">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.person.PersonDetailActivity" android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>
